<h1>Listes des parties</h1>
<div class="col-md-10">
<table>
  <tr>
    <th>Nom</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>

<% @parties.each do |party| %>
  <tr>
    <td><%= party.nom %></td>
    <td><%= party.date %></td>
    <td><%= link_to 'Voir', party_path(party), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_party_path(party), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle partie', new_party_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_path, class: 'btn btn-warning btn-sm' %>
</div>
