<h2><%= @relation.name %></h2>

<p>
  <b>Description:</b>
  <%= @relation.description %>
</p>

<p>
<b>Secret:</b>
  <%= @relation.secret ? 'Oui' : 'Non' %>
</p>

<p>
  <b>To:</b>
  <% p1 = get_organisation(@relation.to_organisation_id) %><%= p1 ? "#{p1.nom}" : "" %>
</p>

<p>
  <b>From:</b>
  <% p2 = get_organisation(@relation.from_organisation_id) %><%= p2 ? "#{p2.nom}" : "" %>
</p>

<%= link_to 'Editer', edit_relations_organisation_path(@relation), class: 'btn btn-warning btn-sm' %>
<%= link_to 'Retour', relations_organisations_path, class: 'btn btn-primary btn-sm' %>
