<%= simple_form_for(@routine) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-5">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :foci %>
    <%= f.input :secret, label: "Voulez-vous que cette routine soit secrete ?", wrapper_html: {class: 'inline simple-checkbox'} %>
    <%= f.button :submit, "Créer/Editer la routine", class: "btn btn-success btn-sm" %>
    <%= link_to "Retour", routines_path, class: "btn btn-warning btn-sm" %>
    <%= link_to 'Show', @routine, class: "btn btn-primary btn-sm" %>
  </div>
  <div class="col-md-5">
    <%#= f.input :combinaison %>
    <%= input_spheres_for_routines(f, @routine) %>
    <%= f.input :type, collection: Routine::TYPE_ROUTINE %>
    <%= f.input :nbs_succes, label: "Nombres de succès nécessaires : ", wrapper_html: {class: 'inline'} %>
    <%= f.input :nbs_quintessence, label: "Nombres de points de quintessence nécessaires : ", wrapper_html: {class: 'inline'} %>
    <%= f.input :volonte_permanente, as: :boolean, label: "Perte d'un point de volonté permanente ?", wrapper_html: {class: 'inline simple-checkbox'} %>
    <%= f.input :effet %>
    <br/>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    listenerAllSpheresForRoutines();
  });

  function listenerAllSpheresForRoutines() {
    $.each($(".sph"), function(key, val) {
      if ($(this).attr("id")) {
        listenerNumber($(this).attr("id"), "#routine_"+$(this).attr("id"), 0, 5);
      }
    });
  }
</script>
