<%= link_to 'Nouvelle routine', new_routine_path, class: 'btn btn-success btn-sm create-float' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des routines</h1>
<div class="col-md-12">
<table class="table">
  <tr>
    <th>Name</th>
    <th>Etiquettes</th>
    <th>Sphères</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @routines.each do |routine| %>
  <tr>
    <td><%= routine.name %></td>
    <td><%= label_secret(routine)%><%= content_tag :span, routine.type_routine, class: 'label label-default' %></td>
    <td><%= display_spheres(routine) %></td>
    <td><%= link_to 'Voir', routine_path(routine), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_routine_path(routine), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @routines %>

<!-- <div class="wod">abcdefghi<br/>jklmnopkrstuvwxyz</div>

<div class="wod">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>

<div class="wod"><br/>0123456789,;<br/>?!$-=()@-_+/<br/>~`\{}[]#%^&<>|</div> -->
</div>
