<h1>Listes des routines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Voir</th>
    <% if @user.role == User::ROLE_ADMIN %>
      <th>Editer</th>
    <% end %>
  </tr>

<% @routines.each do |routine| %>
  <tr>
    <td><%= routine.name %></td>
    <td><%= routine.type %></td>
    <td><%= link_to 'Voir', routine_path(routine), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_routine_path(routine), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle routine', new_routine_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm' %>
