<h1>Listes des disciplines</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Voir</th>
    <% if @user.role == User::ROLE_ADMIN %>
      <th>Editer</th>
    <% end %>
  </tr>

<% @disciplines.each do |discipline| %>
  <tr>
    <td><%= discipline.nom %></td>
    <td><%= link_to 'Voir', discipline_path(discipline), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_discipline_path(discipline), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Discipline', new_discipline_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm' %>
