<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @discipline.nom %>
</p>

<p>
  <b>Description:</b>
  <%= @discipline.description %>
</p>

<p>
  <% if !@nivdisciplines.nil? %>
    <div>Les niveaux de <%= @discipline.nom %> :</div>
    <% @nivdisciplines.each do |nivdiscipline| %>
      - <%= nivdiscipline.nom %> (niveau <%= nivdiscipline.niveau %>)
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
