<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @discipline.nom %>
</p>

<p>
  <b>Description:</b>
  <%= @discipline.description %>
</p>

<p>
  <b>Niveau:</b>
  <%= @discipline.niveau %>
</p>

<p>
  <b>Nom discipline:</b>
  <%= @discipline.nom_discipline %>
</p>


<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
