<h2><%= @discipline.nom %></h2>
<p id="notice"><%= notice %></p>
<div class="col-md-12">

<p>
  <b>Description:</b>
  <%= @discipline.description %>
</p>

<p>
  <% if !@nivdisciplines.nil? %>
    <div>Les niveaux de <%= @discipline.nom %> :</div>
    <table class="table">
      <tr>
        <th>Nom</th>
        <th>Niveau</th>
        <th>Etiquettes</th>
        <th>Voir</th>
      </tr>
    <% @nivdisciplines.each do |nivdiscipline| %>
      <tr>
        <td><%= link_to nivdiscipline.nom, nivdiscipline_path(nivdiscipline) %></td>
        <td><%= label_niveau(nivdiscipline.niveau) %></td>
        <td><%= content_tag :span, nivdiscipline.source, class: "label label-danger" %><%= label_secret(nivdiscipline) %></td>
        <td><%= link_to 'Voir', nivdiscipline_path(nivdiscipline), class: 'btn btn-success btn-xs' %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</p>


<%= link_to 'Editer', edit_discipline_path(@discipline), class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', disciplines_path, class: 'btn btn-warning btn-sm' %>
</div>
