<h2><%= @nivdiscipline.nom %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Niveau discipline description:</b>
  <%= @nivdiscipline.description %>
</p>

<p>
  <b>Niveau discipline systeme:</b>
  <%= @nivdiscipline.systeme %>
</p>

<% if @nivdiscipline.tableau.present? %>
  <p>
    <b>Niveau discipline tableau:</b>
    <%= @nivdiscipline.tableau.html_safe %>
  </p>
<% end %>

<%= link_to 'Editer', edit_nivdiscipline_path(@nivdiscipline), class: 'btn btn-warning btn-sm' %>
<%= link_to 'Retour', discipline_path(@discipline), class: 'btn btn-primary btn-sm' %>
