<h1>Liste des relations</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>To</th>
    <th>From</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td><%= relation.name %></td>
    <td><% p1 = get_personnage(relation.to_personnage_id) %><%= p1 ? "#{p1.prenom} #{p1.nom}" : "" %></td>
    <td><% p2 = get_personnage(relation.from_personnage_id) %><%= p2 ? "#{p2.prenom} #{p2.nom}" : "" %></td>
    <td><%= link_to 'Voir', relation_path(relation), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_relation_path(relation), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle relation', new_relation_path, class: 'btn btn-success btn-sm' %>
