<h1>Listes des relations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>To</th>
    <th>From</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td><%= link_to relation.name, relation %></td>
    <td><%= relation.description %></td>
    <td><%= relation.date %></td>
    <td><% p1 = get_personnage(relation.to_personnage_id) %><%= p1 ? "#{p1.prenom} #{p1.nom}" : "" %></td>
    <td><% p2 = get_personnage(relation.from_personnage_id) %><%= p2 ? "#{p2.prenom} #{p2.nom}" : "" %></td>
    <td><%= link_to 'Show', relation %></td>
    <td><%= link_to 'Edit', edit_relation_path(relation) %></td>
    <!-- <td><%#= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relation', new_relation_path, class: 'btn btn-success' %>
