<h2><%= @relation.name %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @relation.description %>
</p>

<p>
  <b>Date:</b>
  <%= @relation.date %>
</p>

<p>
  <b>To:</b>
  <% p1 = get_personnage(@relation.to_personnage_id) %><%= p1 ? "#{p1.prenom} #{p1.nom}" : "" %>
</p>

<p>
  <b>From:</b>
  <% p2 = get_personnage(@relation.from_personnage_id) %><%= p2 ? "#{p2.prenom} #{p2.nom}" : "" %>
</p>

<%= link_to 'Editer', edit_relation_path(@relation), class: 'btn btn-warning btn-sm' %>
<%= link_to 'Retour', relations_path, class: 'btn btn-primary btn-sm' %>
