<h2></h2>
<div style="text-align: center;"><span class="h2-perso">Visuel des relations </span><span class='label label-warning'>Beta</span></div>
<div class="col-md-8">
	<div id="relations"></div>
</div>
<div class="col-md-4" id="description-publique-corps">
	<div id="visuel-filter" class="row">
			<%= form_tag('/relations/visuel', method: :get) do %>
				<div class="col-md-6">
					<div>
						<label for="personnages"> Voir personnages</label>
						<%= check_box_tag('personnages', '1', params[:personnages].present? || params[:commit] != "Filtrer" ? true : false) %>
					</div>
					<div>
						<label for="organisations"> Voir organisations</label>
						<%= check_box_tag('organisations', '1', params[:organisations].present? || params[:commit] != "Filtrer" ? true : false) %>
					</div>
				</div>
				<div class="col-md-6">
					<%= submit_tag 'Filtrer', class: 'btn btn-success btn-xs' %>
				</div>
			<% end %>
	</div>
	<div style="text-align: center;">Description publique</div><br/>
	<div class="partie-personnage small-font">
     Cliquez sur un personnage pour voir sa description publique.
  </div><br />
  <div id="list-p-like"></div>
  <div id="description-publique"></div>
</div>
<script type="text/javascript">
	var relations = <%= raw @relations.to_json %>
	var personnages = <%= raw @personnages.to_json %>
	var organisations = <%= raw @organisations.to_json %>
	var relations_organisations = <%= raw @relations_organisations.to_json %>
	var relations_org_org = <%= raw @relations_organisations_organisations.to_json %>

	var tmpNodes = [];
	var out = "";
	for (var j in personnages) {
		if (personnages[j].nom_publique) {
			tmpNodes.push({id: personnages[j].id, label: personnages[j].nom_publique, value: personnages[j].description_publique});
		} else {
			tmpNodes.push({id: personnages[j].id, label: personnages[j].prenom + " " + personnages[j].nom, value: personnages[j].description_publique});
		}
		out += "<a id='p_"+personnages[j].id+"' class='p-like' href='/personnages/"+personnages[j].id+"'>"+personnages[j].prenom+" "+personnages[j].nom+"</a>";
	}
	$("#list-p-like").append(out);
	for (var j in organisations) {
		console.log("id = "+ 'o_'+organisations[j].id + " value = " + organisations[j].description_publique);
		tmpNodes.push({id: 'o_'+organisations[j].id, label: organisations[j].nom, value: organisations[j].description_publique, color: 'red', mass: 2});
	}

	var tmpEdges = []
	var i = 0
	for (var j in relations) {
		tmpEdges.push({id: i, from: relations[j].from_personnage_id, to: relations[j].to_personnage_id, arrows: 'from', label: relations[j].name, dashes: true});
		i++;
	}
	for (var j in relations_organisations) {
		console.log("id = "+ i + " from = " + relations_organisations[j].personnage_id + " to = o_"+relations_organisations[j].organisation_id);
		tmpEdges.push({id: i, from: relations_organisations[j].personnage_id, to: 'o_'+relations_organisations[j].organisation_id});
		i++;
	}
	for (var j in relations_org_org) {
		tmpEdges.push({id: i, from: 'o_'+relations_org_org[j].from_organisation_id, to: 'o_'+relations_org_org[j].to_organisation_id, arrows: 'from', label: relations_org_org[j].name})
		i++;
	}
	console.log("avant datasetNOde");
	var nodes = new vis.DataSet(tmpNodes);
	console.log("avant datasetEdges");
	var edges = new vis.DataSet(tmpEdges);
	var container = document.getElementById('relations');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  console.log("avant network");
  var network = new vis.Network(container, data, options);
  console.log("apres network");
	network.on("click", function (params) {
	  var nodeId = params["nodes"][0];
	  if (nodeId && nodes.get(nodeId).value) {
	  	$("#list-p-like .p-like").hide();
	    $("#description-publique").html(nodes.get(nodeId).value);
	    $("#p_"+nodeId).show();
	  } else {
	  	$("#list-p-like .p-like").hide();
	  	$("#description-publique").html("");
	  }
	});
</script>
