<h1>Listes des atouts</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Cout</th>
    <th>Voir</th>
    <% if @user.role == User::ROLE_ADMIN %>
      <th>Editer</th>
    <% end %>
  </tr>

<% @atouts.each do |atout| %>
  <tr>
    <td><%= atout.nom %></td>
    <td><%= atout.cout %></td>
    <td><%= link_to 'Voir', atout_path(atout), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_atout_path(atout), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel atout', new_atout_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm' %>
