<h2><%= @atout.nom %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= simple_format @atout.description %>
</p>

<p>
  <b>Cout:</b>
  <%= @atout.cout %>
</p>

<p>
  <b>Type:</b>
  <%= @atout.type_atout %>
</p>

<p>
  <b>Source:</b>
  <%= @atout.source %>
</p>

<p>
  <b>Secret ? <%= @atout.secret %></b>
</p>
