<h2><%= @atout.nom %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= simple_format @atout.description %>
</p>

<p>
  <b>Cout:</b>
  <%= @atout.cout %>
</p>

<p>
  <b>Type:</b>
  <%= @atout.type_atout %>
</p>

<p>
  <b>Source:</b>
  <%= @atout.source %>
</p>

<p>
  <b>Secret ? <%= @atout.secret %></b>
</p>

<%= link_to 'Editer', edit_atout_path(@atout), class: 'btn btn-warning btn-sm' %>
<%= link_to 'retour', atouts_path, class: 'btn btn-primary btn-sm' %>
<% if @user.admin? || @user.moder? %>
<%= link_to 'Supprimer', @atout, method: :delete, data: { confirm: 'Tu es sûr ?' }, class: 'btn btn-danger btn-sm' %>
<% end %>
