<%= simple_form_for(@organisation) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-5">
    <%= f.input :nom %>
    <%= f.input :description %>
    <%= f.input :type_organisation, collection: Organisation::TYPE_ORGANISATION %>
    <%= f.input :secret, label: "Voulez-vous que ce cette organisation soit secrète ?", wrapper_html: {class: 'inline simple-checkbox'} %>
    <%= f.button :submit, "Créer/Editer une organisation", class: 'btn btn-success btn-sm' %>
    <%= link_to 'Retour', organisations_path, class: 'btn btn-warning btn-sm' %>
  </div>
  <div class="col-md-5">
    <%= f.input :description_publique %>
    <%= f.input :image_lien %>
    <br/>
    <div class="personnage">
      <label for="search_personnage"> Rechercher personnage :</label>
      <input id="search_personnage" type="text" onkeypress="filter(this, '.personnage .checkbox .check_boxes')" onkeyup="epurationCheckBox(this, '.personnage .checkbox .check_boxes')">
      <%= f.association(:personnages, as: :check_boxes, :collection => Personnage.all.map {|c| [c.nom, c.id]}.uniq, wrapper_html: { class: 'col-md-12' }) %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    manageCheckBox("#search_personnage", ".personnage .checkbox .check_boxes");
  });
</script>
