<h1>Listes des organisations</h1>
<div class="col-md-10">
<table>
  <tr>
    <th>Nom</th>
    <th>Type</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @organisations.each do |organisation| %>
  <tr>
    <td><%= organisation.nom %></td>
    <td><%= organisation.type_organisation %></td>
    <td><%= link_to 'Voir', organisation_path(organisation), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_organisation_path(organisation), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle organisation', new_organisation_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_path, class: 'btn btn-warning btn-sm' %>
</div>
