<%= link_to 'Nouvelle organisation', new_organisation_path, class: 'btn btn-success btn-sm create-float' %>
<%= link_to 'Retour', root_path, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des organisations</h1>
<div class="col-md-12">
<table class="table">
  <tr>
    <th>Nom</th>
    <th>Etiquettes</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @organisations.each do |organisation| %>
  <tr>
    <td><%= organisation.nom %></td>
    <td><%= content_tag :span, organisation.type_organisation, class: "label label-danger" %><%= label_secret(organisation) %></td>
    <td><%= link_to 'Voir', organisation_path(organisation), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_organisation_path(organisation), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @relations %>
</div>
