<h2><%= @organisation.nom %></h2>
<p id="notice"><%= notice %></p>
<div class="col-md-6">
<% if @user.role == User::ROLE_ADMIN %>
  <p>
    <b>Description:</b>
    <%= simple_format @organisation.description %>
  </p>
<% end %>
<p>
  <b>Description publique:</b>
  <%= simple_format @organisation.description_publique %>
</p>
<p>
  <b>Type:</b>
  <%= @organisation.type_organisation %>
</p>

<p>
  <b>Date:</b>
  <%= @organisation.date %>
</p>

<p>
<b>Membres:</b><br/>
<% if !@membres.nil? %>
  <% @membres.each do |membre| %>
    <% if @user.role == User::ROLE_ADMIN %>
      <%= link_to "#{membre.prenom} #{membre.nom}", personnage_path(membre) %><br/>
    <% else %>
      <%= link_to "#{membre.prenom} #{membre.nom}", public_show_personnage_path(membre) %><br/>
    <% end %>
  <% end %>
<% end %>
</p>


<%= link_to 'Editer', edit_organisation_path(@organisation), class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', organisations_path, class: 'btn btn-warning btn-sm' %>
</div>

<div class="col-md-4">
  <% url = Rails.env.development? ? @organisation.avatar_url : @organisation.avatar_url_perso if @organisation.avatar? %>
  <%= image_tag(url, class: "avatar") if @organisation.avatar? %>
</div>
