<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @organisation.nom %>
</p>

<p>
  <b>Description:</b>
  <%= @organisation.description %>
</p>

<p>
  <b>Type:</b>
  <%= @organisation.type %>
</p>

<p>
  <b>Date:</b>
  <%= @organisation.date %>
</p>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
