<h1>Listing royaumes</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @royaumes.each do |royaume| %>
  <tr>
    <td><%= royaume.nom %></td>
    <td><%= royaume.description %></td>
    <td><%= link_to 'Show', royaume %></td>
    <td><%= link_to 'Edit', edit_royaume_path(royaume) %></td>
    <td><%= link_to 'Destroy', royaume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Royaume', new_royaume_path %>
