<%= simple_form_for(@lieu) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-5">
    <%= f.input :nom %>
    <%= f.input :description %>
    <%= f.input :type_lieu, collection: Lieu::TYPE_LIEUX %><br/>
    <%= f.input :svg_x %>
    <%= f.input :svg_y %>
    <%= f.button :submit, "Créer/Editer un lieu", class: 'btn btn-success btn-sm' %>
    <%= link_to 'Retour', lieus_path, class: 'btn btn-warning btn-sm' %>
  </div>

  <div class="col-md-5">

    <% url = Rails.env.development? ? @lieu.avatar_url : @lieu.avatar_url_perso if @lieu.avatar? %>
    <%= image_tag(url, class: "avatar") if @lieu.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>

    <%= f.input :description_publique %>
    <%#= f.input :image_lien %>
    <br/>
    <div class="personnage">
      <label for="search_personnage"> Rechercher personnage :</label>
      <input id="search_personnage" type="text" onkeypress="filter(this, '.personnage .checkbox .check_boxes')" onkeyup="epurationCheckBox(this, '.personnage .checkbox .check_boxes')">
      <%= f.association(:personnages, as: :check_boxes, :collection => Personnage.all.map {|c| ["#{c.prenom} #{c.nom}", c.id]}.uniq, label: false, wrapper_html: { class: 'col-md-12' }) %>
    </div>

    <div class="organisation">
      <label for="search_organisation"> Rechercher organisation :</label>
      <input id="search_organisation" type="text" onkeypress="filter(this, '.organisation .checkbox .check_boxes')" onkeyup="epurationCheckBox(this, '.organisation .checkbox .check_boxes')">
      <%= f.association(:organisations, as: :check_boxes, :collection => Organisation.all.map {|c| ["#{c.nom}", c.id]}.uniq, label: false, wrapper_html: { class: 'col-md-12' }) %>
    </div>
  </div>
    <div id="world-map">
      <%= render 'accueil/carte_v2' %>
    </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    manageCheckBox("#search_personnage", ".personnage .checkbox .check_boxes");
    manageCheckBox("#search_organisation", ".organisation .checkbox .check_boxes");
    init_map_admin(<%= raw @lieux_villes.to_json(include: [:organisations, :personnages]) %>);
  });
</script>
