<%= link_to 'Nouveau lieu', new_lieu_path, class: 'btn btn-success btn-sm create-float' %>
<%= link_to 'Retour', root_path, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des lieux</h1>
<div class="col-md-12">
<table class="table">
  <tr>
    <th>Nom</th>
    <th>Etiquettes</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @lieus.each do |lieu| %>
  <tr>
    <td><%= lieu.nom %></td>
    <td><%= content_tag :span, lieu.type_lieu, class: "label label-danger" %><%= label_secret(lieu) %></td>
    <td><%= link_to 'Voir', lieu, class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to 'Editer', edit_lieu_path(lieu), class: 'btn btn-warning btn-xs' %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @relations %>
</div>
