<h1>Listes des lieux</h1>
<div class="col-md-10">
<table>
  <tr>
    <th>Nom</th>
    <th>Type</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @lieus.each do |lieu| %>
  <tr>
    <td><%= lieu.nom %></td>
    <td><%= lieu.type_lieu %></td>
    <td><%= link_to 'Voir', lieu, class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to 'Editer', edit_lieu_path(lieu), class: 'btn btn-warning btn-xs' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau lieu', new_lieu_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_path, class: 'btn btn-warning btn-sm' %>

</div>
