<h1>Listes des historiques</h1>

<div class="col-md-10">
<table>
  <tr>
    <th>Nom</th>
    <th>Voir</th>
    <% if @user.role == User::ROLE_ADMIN %>
      <th>Editer</th>
    <% end %>
  </tr>

<% @historiques.each do |historique| %>
  <tr>
    <td><%= historique.nom %></td>
    <td><%= link_to 'Voir', historique_path(historique), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_historique_path(historique), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau historique', new_historique_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm' %>
</div>
