<h2><%= @historique.nom %></h2>
<p id="notice"><%= notice %></p>
<div class="col-md-10">
<p>
  <b>Description:</b>
  <%= @historique.description %>
</p>

<%= link_to 'Editer', edit_historique_path(@historique), class: "btn btn-success btn-sm" %>
<%= link_to 'Retour', historiques_path, class: "btn btn-warning btn-sm" %>
</div>
