<%= link_to 'Nouvelle Objet', new_objet_path, class: 'btn btn-success btn-sm create-float' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des objets</h1>
<div class="col-md-12">
<table>
  <tr>
    <th>Name</th>
    <th>Niveau</th>
    <th>Type</th>
    <th>Voir</th>
    <% if @user.role == User::ROLE_ADMIN %>
      <th>Editer</th>
    <% end %>
  </tr>

<% @objets.each do |objet| %>
  <tr>
    <td><%= objet.name %></td>
    <td><%= objet.niveau %></td>
    <td><%= objet.type_objet %></td>
    <td><%= link_to 'Voir', objet_path(objet), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_objet_path(objet), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @objets %>
</div>
