<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @objet.name %>
</p>

<p>
  <b>Description:</b>
  <%= @objet.description %>
</p>

<p>
  <b>Niveau:</b>
  <%= @objet.niveau %>
</p>

<p>
  <b>Type:</b>
  <%= @objet.type %>
</p>

<p>
  <b>Resonnance:</b>
  <%= @objet.resonnance %>
</p>

<p>
  <b>Personnage:</b>
  <%= @objet.personnage_id %>
</p>


<%= link_to 'Edit', edit_objet_path(@objet) %> |
<%= link_to 'Back', objets_path %>
