<h2><%= @objet.name %></h2>
<p id="notice"><%= notice %></p>
<p>
  <b>Description:</b>
  <%= @objet.description %>
</p>

<p>
  <b>Niveau:</b>
  <%= @objet.niveau %>
</p>

<p>
  <b>Type:</b>
  <%= @objet.type_objet %>
</p>

<p>
  <b>Resonnance:</b>
  <%= @objet.resonnance %>
</p>

<% if @personnage.present? %>
  <p>
    <b>Personnage:</b>
    <%= @personnage.prenom %> <%= @personnage.nom %>
  </p>
<% end %>

