<h2></h2>
<%= simple_form_for(@personnage) do |p| %>
  <div id="personnage">
    <div class="row">
      <p class="text-center"><%= show_partie(@personnage) %></p>
      <p class="bg-danger"><%= notice.html_safe if notice.present? %></p>
    </div>
    <div class="row info-general">
      <p class="text-center"><b>Générale</b></p>
      <%= input_info_general(p, @personnage) %>
    </div>
    <div class="row attributs">
      <%= image_tag("barre_fiche.png", class: 'barre') %>
      <div style="text-align: center;"><b>Attributs</b></div>
      <%= input_attributs(p, @personnage) %>
    </div>
    <div class="row capacites">
      <%= image_tag("barre_fiche.png", class: 'barre') %>
      <div style="text-align: center;">
        <b>Capacités</b>
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-capacites">Ajouter des capacités</button>
      </div>
      <%= input_capacite(@capacites_personnages, @personnage) %>
      <%= image_tag("barre_fiche.png", class: 'barre') %>
    </div>
    <% if @personnage.mage? %>
      <div class="row spheres">
        <p class="text-center"><b>Sphères</b><%= show_spheres_for_base(@personnage) %></p>
        <%= input_spheres(@personnage) %>
      </div>
      <br/>
    <% end %>
    <div class="row disciplines">
      <p class="text-center">
        <b>Disciplines</b><%= show_disciplines(@personnage) %>
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-disciplines">Ajouter des disciplines</button>
      </p>
      <%= input_discipline(@disciplines_personnages) %>
    </div>
    <div class="row autre">
      <p class="text-center"><b>Autres</b></p>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <%= input_historique(@historiques_personnages, @personnage) %>
        <% if @personnage.has_base %>
          <br />
          <%= input_atout(@atouts_personnages) %>
        <% end %>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <% if @personnage.has_base %>
          <p class="text-center"><b>Important</b></p>
          <%= input_volonte(p) %>
          <%= input_voie(p, @personnage) %>
          <%= input_entelechie(p, @personnage) %>
        <% end %>
        <p class="text-center"><b><%= @personnage.mage? ? 'Résonnances' : 'Vertues' %></b><%= show_nbs_vertues(@personnage) %></p>
        <%= input_vertue(p, @personnage) %>
        <%= input_resonnance(p, @personnage) %>
      </div>
    </div>
    <div class="row background">
      <%#= @personnage.caracteristique_base %>
      <%#= @personnage.caracteristique_bonus %>
      <%= p.input :caracteristique_base, as: :hidden %>
      <%= p.input :caracteristique_bonus, as: :hidden %>
      <%= p.input :type_perso, as: :hidden %>
      <%= p.input :xps, as: :hidden %>
      <%= p.input :reste_xps, as: :hidden %>
      <p class="text-center"><%= show_sauvegarder(p, @personnage) %></p>
    </div>
    <%= render 'modal', f: p, type: "discipline", title: "Disciplines", id: "modal-disciplines" %>
    <%= render 'modal', f: p, type: "historique", title: "Historiques", id: "modal-historiques" %>
    <%= render 'modal', f: p, type: "atout", title: "Atouts", id: "modal-atouts" %>
    <%= render 'modal', f: p, type: "capacite", title: "Capacités", id: "modal-capacites" %>
  </div>
<% end %>
<%= render 'personnage_xp_js' %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker();
    $(".popover-perso").popover();
    manageCheckBox("#search_capacite", ".capacite .checkbox .check_boxes");
    manageCheckBox("#search_historique", ".historique .checkbox .check_boxes");
    manageCheckBox("#search_atout", ".atout .checkbox .check_boxes");
    manageCheckBox("#search_discipline", ".discipline .checkbox .check_boxes");
    manageCapacites(".capacite .checkbox .check_boxes", ".cap");
    manageHistoriques(".historique .checkbox .check_boxes", ".his");
    manageAtouts(".atout .checkbox .check_boxes", ".ato");
    manageDisciplines(".discipline .checkbox .check_boxes", ".dis");
    whenclickCalculeXpsDep($("#personnage_type_perso").val(), "#calculer");
    listenerAllAttributs();
    listenerAllCapacites();
    listenerAllSpheres();
    listenerAllDisciplines();
    listenerAllHistoriques();
    listenerEntelechie("#personnage_entelechie");
    listenerVolonte("#personnage_volonte");
    listenerVertues();
    listenerResonnances();
    listenerPhysiqueForBase(1, 10);
    listenerMentalForBase(1, 10);
    listenerSocialForBase(1, 10);
    listenerTypeCapacitesForBase("Talent", "#nbs_talents", 0, 10);
    listenerTypeCapacitesForBase("Compétence", "#nbs_competences", 0, 10);
    listenerTypeCapacitesForBase("Connaissance", "#nbs_connaissances", 0, 10);
    listenerHistoriquesForBase(0);
    listenerDisciplinesForBase();
    listenerVertuesForBase();
    listenerSpheresForBase();
    manageMenu();
    $(".close-modal").click(function() {
      manageCalculeBonus();
      manageCalculeXps($("#personnage_type_perso").val());
    });
  });
</script>
