<%= simple_form_for(@personnage) do |p| %>
  <% if @personnage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personnage.errors.count, "error") %> prohibited this personnage from being saved:</h2>
      <ul>
      <% @personnage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="personnage">
    <div class="row">
      <p class="text-center"><%= show_partie(@personnage) %></p>
    </div>
    <div class="row info-general">
      <p class="text-center"><b>Générale</b></p>
      <%= input_info_general(p, @personnage) %>
    </div>
    <div class="row attributs">
      <%= image_tag("barre_fiche.png", class: 'barre') %>
      <!-- <p class="titre"><b>Attributs</b></p> -->
      <p><%= show_nbs_attributs(@personnage) %></p>
      <%= input_attributs(p, @personnage) %>
    </div>
    <div class="row capacites">
      <%= image_tag("barre_fiche.png", class: 'barre') %>
      <!-- <p class="titre2"><b>Capacités</b></p> -->
      <p><%= show_nbs_capacites(@personnage) %></p>
      <%= input_capacite(@capacites_personnages, @personnage) %>
      <%= image_tag("barre_fiche.png", class: 'barre') %>
    </div>
    <% if @personnage.mage? %>
      <div class="row spheres">
        <p class="text-center"><b>Sphères</b><%= show_spheres_for_base(@personnage) %></p>
        <%= input_spheres(@personnage) %>
      </div>
    <% end %>
    <div class="row disciplines">
      <p class="text-center"><a href="#openModaldiscipline" class="plus-link"></a><b>Disciplines</b><%= show_disciplines(@personnage) %></p>
      <%= input_discipline(@disciplines_personnages) %>
    </div>
    <div class="row autre">
      <p class="text-center"><b>Autres</b></p>
      <div class="col-md-4">
        <%= input_historique(@historiques_personnages, @personnage) %>
        <%= input_atout(@atouts_personnages) %>
      </div>
      <div class="col-md-4">
        <p class="text-center"><b>Important</b></p>
        <%= input_voie(p, @personnage) %>
        <%= input_entelechie(p, @personnage) %>
        <%= input_volonte(p) %>
      </div>
      <div class="col-md-4">
        <p class="text-center"><b>Vertues/Résonnances</b><%= show_nbs_vertues(@personnage) %></p>
        <%= input_vertue(p, @personnage) %>
        <%= input_resonnance(p, @personnage) %>
      </div>
    </div>
    <div class="row background">
      <p class="text-center"><b>Background</b></p>
      <div class="col-md-4">
        <%= p.input :background %>
      </div>
      <div class="col-md-4">
        <%= p.input :paradygme %>
        <%= p.input :secret, label: "Voulez-vous que ce personnage soit secret ?", wrapper_html: {class: 'inline simple-checkbox'} if @user.role == User::ROLE_ADMIN %>
      </div>
      <div class="col-md-4">
        <%= p.input :description %>
        <%= p.input :pnj, label: "Voulez-vous que ce personnage soit un pnj ?", wrapper_html: {class: 'inline simple-checkbox'} if @user.role == User::ROLE_ADMIN %>
      </div>
    </div>
    <div class="row background">
      <%= p.input :caracteristique_base, as: :hidden %>
      <%= p.input :caracteristique_bonus, as: :hidden %>
      <%= p.input :xps, as: :hidden %>
      <%= p.input :reste_xps, as: :hidden %>
      <p class="text-center"><%= show_sauvegarder(p, @personnage) %></p>
    </div>
    <%= input_modal_objet(p, "discipline", "Disciplines") %>
    <%= input_modal_objet(p, "historique", "Historiques") %>
    <%= input_modal_objet(p, "capacite", "Capacités") %>
    <%= input_modal_objet(p, "atout", "Atouts") %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker();
    manageCheckBox("#search_capacite", ".capacite .checkbox .check_boxes");
    manageCheckBox("#search_historique", ".historique .checkbox .check_boxes");
    manageCheckBox("#search_atout", ".atout .checkbox .check_boxes");
    manageCheckBox("#search_discipline", ".discipline .checkbox .check_boxes");
    manageCapacites(".capacite .checkbox .check_boxes", ".cap");
    manageHistoriques(".historique .checkbox .check_boxes", ".his");
    manageAtouts(".atout .checkbox .check_boxes", ".ato");
    manageDisciplines(".discipline .checkbox .check_boxes", ".dis");
    whenclickCalculeXpsDep($("#personnage_type_perso").val(), "#calculer");
    listenerAllAttributs();
    listenerAllCapacites();
    listenerAllSpheres();
    listenerAllDisciplines();
    listenerAllHistoriques();
    listenerEntelechie("#personnage_entelechie");
    listenerVolonte("#personnage_volonte");
    listenerVertues();
    listenerResonnances();
    listenerPhysiqueForBase(1, 10);
    listenerMentalForBase(1, 10);
    listenerSocialForBase(1, 10);
    listenerTypeCapacitesForBase("Talent", "#nbs_talents", 0, 10);
    listenerTypeCapacitesForBase("Compétence", "#nbs_competences", 0, 10);
    listenerTypeCapacitesForBase("Connaissance", "#nbs_connaissances", 0, 10);
    listenerHistoriquesForBase(0);
    listenerDisciplinesForBase();
    listenerVertuesForBase();
    listenerSpheresForBase();
    manageMenu();
  });
</script>
