<h1>Listes de vos personnages</h1>
<%= link_to 'Nouveau personnage', new_personnage_path, class: 'btn btn-success btn-sm' %>
<div class="col-md-12">
  <table class="table">
    <tr>
      <th>Personnage</th>
      <th>Appartenance</th>
      <th>Etiquette</th>
      <th>Rang</th>
      <th>Voir</th>
      <th>Editer</th>
    </tr>

  <% @personnages.each do |personnage| %>
    <tr>
      <td><%= link_to "#{personnage.prenom} #{personnage.nom}", personnage %></td>
      <td style="text-align: center;"><span class="wod"><%= Personnage::FONT_WOD[personnage.appartenance_perso] %></span></td>
      <td><%= label_pnj(personnage) %><%= label_secret(personnage) %></td>
      <td><%= label_rang(personnage) %></td>
      <td><%= link_to 'Voir', personnage_path(personnage), class: 'btn btn-success btn-xs' %></td>
      <td><%= link_to('Editer', edit_personnage_path(personnage), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
    </tr>
  <% end %>
  </table>
</div>
