<h2>Description publique</h2>
<%= simple_form_for(@personnage, url: public_update_personnage_path, method: :post) do |f| %>
  <div class="col-md-6">
    <%= f.input :nom_publique, label: 'Nom publique :' %>
    <%= f.input :appartenance_publique, collection: Personnage::APPARTENANCE, label: 'Appartenance publique :' %>
    <%= f.input :description_publique, label: 'Description publique :' %>
    <%= f.input :rang_publique, collection: ['S', 'A', 'B', 'C', 'D'], label: 'Rang publique' if @user.role == User::ROLE_ADMIN %>
    <br />
    <p><%= f.button :submit, "Sauvegarder profil publique", class: 'btn btn-primary btn-sm' %></p>
  </div>
  <div class="col-md-6">
    <div class="partie-personnage" style="text-align: center;">Vous pouvez choisir un avatar publique</div><br/>
    <% url = Rails.env.development? ? @personnage.avatar_url : @personnage.avatar_url_perso if @personnage.avatar? %>
    <%= image_tag(url, class: "avatar") if @personnage.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
<% end %>
