<h1>Listing combinaisons</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Niveau</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @combinaisons.each do |combinaison| %>
  <tr>
    <td><%= combinaison.nom %></td>
    <td><%= combinaison.description %></td>
    <td><%= combinaison.niveau %></td>
    <td><%= link_to 'Show', combinaison %></td>
    <td><%= link_to 'Edit', edit_combinaison_path(combinaison) %></td>
    <td><%= link_to 'Destroy', combinaison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Combinaison', new_combinaison_path %>
