<h2><%= @combinaison.nom %></h2>
<div class="col-md-10">
<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @combinaison.description %>
</p>

<p>
  <b>Cout:</b>
  <%= @combinaison.cout %>
</p>

<p>
  <b>Pré-requis:</b>
  <% @combinaisons_disciplines.each do |combinaisons_discipline| %>
  	<br /><%= combinaisons_discipline.discipline.nom %>: <%= combinaisons_discipline.niveau %>
  <% end %>
</p>


<%= link_to 'Editer', edit_combinaison_path(@combinaison), class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', combinaisons_path, class: 'btn btn-warning btn-sm' %>
</div>