<%= link_to 'Nouvelle campagne', new_campagne_path, class: 'btn btn-success btn-sm create-float' %>
<%= link_to 'Retour', root_path, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des campagnes</h1>
<div class="col-md-12">
<table class="table">
  <tr>
    <th>Nom</th>
    <th>Date</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @campagnes.each do |campagne| %>
  <tr>
    <td><%= campagne.nom %></td>
    <td><%= campagne.debut.strftime("%F") %></td>
    <td><%= link_to 'Voir', campagne_path(campagne), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_campagne_path(campagne), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @campagnes %>
</div>