<h1>listes des capacités</h1>

<div class="col-md-10">
<table>
  <tr>
    <th>Nom</th>
    <th>Primaire</th>
    <th>Type</th>
    <th>Voir</th>
    <% if @user.role == User::ROLE_ADMIN %>
      <th>Editer</th>
    <% end %>
  </tr>

<% @capacites.each do |capacite| %>
  <tr>
    <td><%= link_to capacite.nom, capacite %></td>
    <td><%= capacite.primaire ? 'Oui' : 'Non' %></td>
    <td><%= capacite.type_cap %></td>
    <td><%= link_to 'Voir', capacite_path(capacite), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_capacite_path(capacite), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle capacité', new_capacite_path, class: 'btn btn-success btn-sm' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm' %>
</div>
