<%= link_to 'Nouvelle capacité', new_capacite_path, class: 'btn btn-success btn-sm create-float' %>
<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des capacités</h1>
<div class="col-md-12">
<table class="table">
  <tr>
    <th>Nom</th>
    <th>Etiquettes</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @capacites.each do |capacite| %>
  <tr>
    <td><%= link_to capacite.nom, capacite %></td>
    <td>
      <%= content_tag :span, capacite.source, class: "label label-danger" %><%= content_tag :span, capacite.type_cap, class: 'label label-info' %><%= content_tag :span, capacite.primaire ? 'Primaire' : 'Secondaire', class: 'label label-default' %>
    </td>
    <td><%= link_to 'Voir', capacite_path(capacite), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_capacite_path(capacite), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @capacites %>
</div>
