<h2><%= @capacite.nom %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Cap description:</b>
  <%= @capacite.description %>
</p>

<p>
  <b>Cap primaire:</b>
  <%= @capacite.primaire %>
</p>


<%= link_to 'Editer', edit_capacite_path(@capacite), class: 'btn btn-warning btn-sm' %>
<%= link_to 'retour', capacites_path, class: 'btn btn-primary btn-sm' %>
