<h1>Listing arts</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arts.each do |art| %>
  <tr>
    <td><%= art.nom %></td>
    <td><%= art.description %></td>
    <td><%= link_to 'Show', art %></td>
    <td><%= link_to 'Edit', edit_art_path(art) %></td>
    <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Art', new_art_path %>
