<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @art.nom %>
</p>

<p>
  <b>Description:</b>
  <%= @art.description %>
</p>


<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
