<!DOCTYPE html>
<html>
<head>
  <title>Rubricam</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'ankh2.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  </header>
  <div class="container">
    <%#= image_tag 'v20.png', class: 'x20' %>
    <%#= image_tag 'm20.png', class: 'x20' %>
    <!-- navbar-static-top -->
    <nav class="navbar navbar-default navbar-fixed-top" id="my-nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rubricam</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Accueil', root_url %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Disciplines', disciplines_path %></li>
                <li><%= link_to 'Atouts', atouts_path %></li>
                <li><%= link_to 'Historiques', historiques_path %></li>
                <li><%= link_to 'Capacités', capacites_path %></li>
                <% if @user.id.present? %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Règles', regles_path %></li>
                <% end %>
              </ul>
            </li>

            <% if @user.id.present? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Partie<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Routines', routines_path %></li>
                <li><%= link_to 'Combinaisons de discipline', combinaisons_path %></li>
                <li><%= link_to 'Objets', objets_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Lieux', lieus_path %></li>
                <li><%= link_to 'Organisations', organisations_path %></li>
                <li><%= link_to 'Parties', parties_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Vos personnages', personnages_path %></li>
                <li><%= link_to 'Pnjs', pnjs_personnages_path %></li>
                <li><%= link_to 'Pjs', pjs_personnages_path %></li>
              </ul>
            </li>
            <% end %>

            <% if @user.role == User::ROLE_ADMIN %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Mj<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Joueurs', users_path %></li>
                  <li><%= link_to 'Personnages', personnages_path %></li>
                  <li><%= link_to 'Relations', relations_path %></li>
                  <li><%= link_to 'Campagnes', campagnes_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Versions', version_comments_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
          <% if @user.id.present? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Carte <span class='label label-warning'>Beta</span>".html_safe, carte_path %></li>
              <li><%= link_to 'Royaume', fan_art_path %></li>
              <li><%= link_to "Vue relations <span class='label label-warning'>Beta</span>".html_safe, visuel_relations_path %></li>
              <li><%= link_to 'Profil', user_path(@user) %></li>
              <li><%= link_to 'Se déconnecter', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <script type="text/javascript">
      // TODO: add class active with rails
      // manageActiveDiv();
    </script>
    <%= yield %>
  </div>
  <footer>
      www.rubricam.fr <span class="version-footer">(<%= link_to "V#{@version.version}.#{@version.subversion}", version_comments_path %>)</span>
  </footer>
</body>
</html>
